html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: inline-block;
  text-align: center;
  margin: 0;
}

img {
  width: 40px;
}

body {
  display: inline-block;
  text-align: center;
  margin: 0;
}
