html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  background-color: #d05c2e;
  width: 100%;
}

h1 {
  display: inline-block;
  color: #fff;
}

img {
  display: inline-block;
  width: 40px;
}

.left {
  float: left;
  width: 40px;
}

.right {
  float: right;
  width 40px;
}

body {
  display: block;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
}

a:hover {
  color: #d05c2e;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav {
  background-color: #d05c2e;
  padding: .4rem 0;
}

ul {
  margin: 0;
  padding: 0;
}
