html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: inline-block;
  text-align: center;
  text-size: 2rem;
  margin: 0;
}

img {
  display: inline-block;
  width: 40px;
}

body {
  display: inline-block;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  text-size: 1.125rem;
  color: #fff;
}

a:hover {
  color: #d05c2e;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav {
  background-color: #d05c2e;
  padding: .4rem 0;
}
